button {
    cursor: pointer;
  }

#portfolio {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    margin: 64px;
}

.project {
    width: 33.333%;
    padding: 8px;
}

.project {
    display: flex;
    flex-wrap: wrap;
}

.img_project {
    border-radius: 16px;
    max-width: 100%;
}

@media (max-width:820px){
    #portfolio {
        margin: 16px;
    }
    .project{
        width: 50%;
    }
    .img_project {
        border-radius: 20px;
    }
}

@media (max-width:476px){
    #portfolio {
        margin: 16px;
    }
    .project{
        width: 100%;
    }
    .img_project {
        border-radius: 8px;
    }
}