
* {
	box-sizing: border-box;
}

html {
	font-family: 'IBM Plex Sans', sans-serif;
	background-color: #002264;
	color: white;
	font-size: 100%; /* equivalente a 10px */
}

a {
	color: white;
	text-decoration: none;
}

li {
	color: white;
	text-decoration: none;
}

nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 0;
	border-bottom: .5px solid rgba(255, 255, 255, 0.2);
	font-weight: 800;
}

nav #meu_nome {
	margin-left: 16px;
	padding: 16px;
	float: left;
}


.menu {
	color: white;
	display: flex;
}

.menu li {
	margin-right: 16px;
	display: inline-block;
}

.menu li a {
	padding: 16px;
	color: white;
	display: block;
}

.menu :hover{
	color: #FF9600;
	transition: .5s;
}

.checkbtn {
	float: right;
	padding: 16px;
	display: none;

}

#check {
	display: none;
}

#current, #selected{
	color: #FF9600;
}

.primeira {
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 50%;
	float: left;
}

.segunda {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90%;
	width: 50%;
	float: right;
}

.pr {
	margin: 32px;
	font-weight: 200;
	font-size: 3rem;
	}

.button {
	color: #6e4000;;
	font-size: 1rem;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}
#dbtn {
	margin: 32px;
	display: flex;
	padding: 4px 32px 4px 32px;
	background: #FF9600;
	box-sizing: border-box;
	cursor: pointer;
	width: auto;
	max-width: 220px;
	border: 2px solid #6e4000;
	border-radius: 64px;
}

#dbtn img {
	margin-left: 16px;
}

.bottom {
	position: absolute;
	bottom: 32px;
	right: 32px;
}

.bottom img {
	max-width: 32px;
}

@media (max-width: 820px) {
	.primeira {
		width: 100%;
	}
	.segunda{
		width: 100%;
	}

@media (max-width: 820px){

	nav #meu_nome {
		width: 100vw;
		border-bottom: .5px solid rgba(255, 255, 255, 0.2);
	}
	nav #meu_nome {
		margin-left: 0px;
	}
}

@media (max-width:426px){

	.pr {
		margin: 16px;
		margin-top: 32px;
		width: 90%;
		font-size: 2rem;
	}
	.menu li {
		margin-right: 0px;
	}
	
	.primeira {
		margin: 0;
		align-items: center;
		width: 100%;
	}

	#dbtn {
		margin-top: 32px;
	}

	.segunda {
		width: 100%;
	}

	#estrela {
		display: block;
		margin-top: 32px;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
}